## Pandas

- 분석할려는 데이터는 Series 또는 DataFrame(표형식의 테이블)
- Series -> 넘파이의 1차원배열과 비슷 (각 데이터의 의미를 표시하는 인덱스가 존재한다)
- Series : index + value

In [3]:
import numpy  as np
import pandas as pd
import matplotlib.pyplot as plt 

import warnings
warnings.filterwarnings(action='ignore')

print('numpy version  - ' , np.__version__)
print('pandas version - ' , pd.__version__)

numpy version  -  1.20.1
pandas version -  1.2.4

In [26]:
def seriesInfo(ary) :
    print('series - index + values \n' , ary)
    print('index - ', type(ary.index)  , ary.index)
    print('value - ', type(ary.values) , ary.values)

In [27]:
ary = pd.Series([1, 2, 3, 4, 5, 'jslim'] , dtype=np.object)
seriesInfo(ary)

series - index + values
 0        1
1        2
2        3
3        4
4        5
5    jslim
dtype: object
index -  <class 'pandas.core.indexes.range.RangeIndex'> RangeIndex(start=0, stop=6, step=1)
value -  <class 'numpy.ndarray'> [1 2 3 4 5 'jslim']

In [28]:
ary = pd.Series({'a' : 1 , 'b' : 2 , 'c' : 3} )
seriesInfo(ary)

series - index + values
 a    1
b    2
c    3
dtype: int64
index -  <class 'pandas.core.indexes.base.Index'> Index(['a', 'b', 'c'], dtype='object')
value -  <class 'numpy.ndarray'> [1 2 3]

- 인덱스의 라벨은 정수, 문자, 날짜, 시간

In [29]:
ary = pd.Series([1, 2, 3, 4, 5] , 
                index = ['강남' , '서초' , '방배' , '동작' , '신도림'] )
seriesInfo(ary)

series - index + values
 강남     1
서초     2
방배     3
동작     4
신도림    5
dtype: int64
index -  <class 'pandas.core.indexes.base.Index'> Index(['강남', '서초', '방배', '동작', '신도림'], dtype='object')
value -  <class 'numpy.ndarray'> [1 2 3 4 5]

- name , index.name 속성이 존재한다
- name -> 시리즈 데이터에 이름을 붙여주는 역할
- index.name -> 시리즈 인덱스에 이름을 붙여주는 역할

In [31]:
ary.name = '별의미없음'
ary.index.name = '구 구별'
seriesInfo(ary)

series - index + values
 구 구별
강남     1
서초     2
방배     3
동작     4
신도림    5
Name: 별의미없음, dtype: int64
index -  <class 'pandas.core.indexes.base.Index'> Index(['강남', '서초', '방배', '동작', '신도림'], dtype='object', name='구 구별')
value -  <class 'numpy.ndarray'> [1 2 3 4 5]

In [34]:
# tuple 타입을 이용한 시리즈 객체 생성
tup_data = ('섭섭해' , '2021-08-31' , '남' , True)
ary = pd.Series(tup_data , dtype=np.object , index = ['이름' , '생년월일' , '성별' , '결혼여부'])
seriesInfo(ary)

series - index + values
 이름             섭섭해
생년월일    2021-08-31
성별               남
결혼여부          True
dtype: object
index -  <class 'pandas.core.indexes.base.Index'> Index(['이름', '생년월일', '성별', '결혼여부'], dtype='object')
value -  <class 'numpy.ndarray'> ['섭섭해' '2021-08-31' '남' True]

#### series 에서 원소를 선택하기 위해서는 ?
-  정수형 위치 인덱스를 활용하는 방법
-  인덱스의 이름을 활용하는 방법

#### series 에서 여러원소를 선택하기 위해서는 ?
- 리스트를 활용하면 된다

In [44]:
print('정수 인덱스 - ' , ary[0] , type(ary[0]))
print('인덱스 이름 - ' , ary['이름'] , type(ary['이름']))

print()
print('정수 인덱스 - \n')
seriesInfo(ary[ [0,1]])

print()
print('인덱스 이름 - \n')
seriesInfo(ary[ ['이름', '성별']])

print()
print('범위지정 - \n')
seriesInfo( ary['이름' : '성별'] )
print()
seriesInfo( ary[0 : 3] )

정수 인덱스 -  섭섭해 <class 'str'>
인덱스 이름 -  섭섭해 <class 'str'>

정수 인덱스 -

series - index + values
 이름             섭섭해
생년월일    2021-08-31
dtype: object
index -  <class 'pandas.core.indexes.base.Index'> Index(['이름', '생년월일'], dtype='object')
value -  <class 'numpy.ndarray'> ['섭섭해' '2021-08-31']

인덱스 이름 -

series - index + values
 이름    섭섭해
성별      남
dtype: object
index -  <class 'pandas.core.indexes.base.Index'> Index(['이름', '성별'], dtype='object')
value -  <class 'numpy.ndarray'> ['섭섭해' '남']

범위지정 -

series - index + values
 이름             섭섭해
생년월일    2021-08-31
성별               남
dtype: object
index -  <class 'pandas.core.indexes.base.Index'> Index(['이름', '생년월일', '성별'], dtype='object')
value -  <class 'numpy.ndarray'> ['섭섭해' '2021-08-31' '남']

series - index + values
 이름             섭섭해
생년월일    2021-08-31
성별               남
dtype: object
index -  <class 'pandas.core.indexes.base.Index'> Index(['이름', '생년월일', '성별'], dtype='object')
value -  <class 'numpy.ndarray'> ['섭섭해' '2021-08-31' '남']

In [52]:
for idx , value in ary.items() :
    print('idx : {} , value : {}'.format(idx , value))
print()

for idx in ary.keys() :
    print('idx : {} '.format(idx))

print()
for value in ary.values :
    print('value : {}'.format(value))

idx : 이름 , value : 섭섭해
idx : 생년월일 , value : 2021-08-31
idx : 성별 , value : 남
idx : 결혼여부 , value : True

idx : 이름
idx : 생년월일
idx : 성별
idx : 결혼여부

value : 섭섭해
value : 2021-08-31
value : 남
value : True

In [46]:
ary.index

Index(['이름', '생년월일', '성별', '결혼여부'], dtype='object')

In [47]:
ary.values

array(['섭섭해', '2021-08-31', '남', True], dtype=object)

In [53]:
ary = pd.Series(range(10, 21))
seriesInfo(ary)

series - index + values
 0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
dtype: int64
index -  <class 'pandas.core.indexes.range.RangeIndex'> RangeIndex(start=0, stop=11, step=1)
value -  <class 'numpy.ndarray'> [10 11 12 13 14 15 16 17 18 19 20]

In [54]:
# 벡터화 연산도 가능하다
seriesInfo(ary*10)

series - index + values
 0     100
1     110
2     120
3     130
4     140
5     150
6     160
7     170
8     180
9     190
10    200
dtype: int64
index -  <class 'pandas.core.indexes.range.RangeIndex'> RangeIndex(start=0, stop=11, step=1)
value -  <class 'numpy.ndarray'> [100 110 120 130 140 150 160 170 180 190 200]

In [59]:
# 2의 배수인것만 출력한다면?
# boolean indexing : ary%2 == 0
ary[ ary%2 == 0 ]

0     10
2     12
4     14
6     16
8     18
10    20
dtype: int64

In [63]:
from datetime import date, datetime, timedelta
from dateutil.parser import parse

day = datetime(2021, 8, 31)
print(day+timedelta(days=1))

2021-09-01 00:00:00

- 평균이 50이고 편차 5인 정규분포 데이터를 10일간 만들고 싶다면?

In [69]:
factory01 = pd.Series( [ x for x in np.random.normal(50, 5, (10,)) ] , 
                       index = [ day+timedelta(days = d ) for d in range(10) ] ) 
# seriesInfo(factory01)
factory02 = pd.Series( [ x for x in np.random.normal(70, 8, (10,)) ] , 
                       index = [ day+timedelta(days = d ) for d in range(10) ] )

In [70]:
factory01 + factory02

2021-08-31    106.791094
2021-09-01    132.775480
2021-09-02    118.308893
2021-09-03    107.028016
2021-09-04    116.130168
2021-09-05    130.088504
2021-09-06    106.065393
2021-09-07    128.905223
2021-09-08    119.841953
2021-09-09    100.080315
dtype: float64

In [71]:
factory01.index

DatetimeIndex(['2021-08-31', '2021-09-01', '2021-09-02', '2021-09-03',
               '2021-09-04', '2021-09-05', '2021-09-06', '2021-09-07',
               '2021-09-08', '2021-09-09'],
              dtype='datetime64[ns]', freq=None)

In [72]:
factory02.index

DatetimeIndex(['2021-08-31', '2021-09-01', '2021-09-02', '2021-09-03',
               '2021-09-04', '2021-09-05', '2021-09-06', '2021-09-07',
               '2021-09-08', '2021-09-09'],
              dtype='datetime64[ns]', freq=None)

In [75]:
factory01 = pd.Series( [ x for x in np.random.normal(50, 5, (10,)) ] , 
                       index = [ day+timedelta(days = d ) for d in range(10) ] ) 
# seriesInfo(factory01)
# temp_day = datetime(2020, 8, 31)
factory02 = pd.Series( [ x for x in np.random.normal(70, 8, (10,)) ] , 
                       index = [ day+timedelta(days = d+1 ) for d in range(10) ] )

In [76]:
factory01 + factory02

2021-08-31           NaN
2021-09-01    129.877917
2021-09-02    110.994485
2021-09-03    116.177429
2021-09-04    118.819863
2021-09-05    115.045513
2021-09-06    125.136783
2021-09-07    128.517157
2021-09-08    114.006850
2021-09-09    131.580690
2021-09-10           NaN
dtype: float64

- 데이터 갱신, 추가, 삭제

In [77]:
price_series = pd.Series([4000, 3000, 3500, 2000],
                         index = ['a', 'b', 'c', 'd'])
seriesInfo(price_series)

series - index + values
 a    4000
b    3000
c    3500
d    2000
dtype: int64
index -  <class 'pandas.core.indexes.base.Index'> Index(['a', 'b', 'c', 'd'], dtype='object')
value -  <class 'numpy.ndarray'> [4000 3000 3500 2000]

In [81]:
# 문자인덱스를 이용한 데이터 갱신
price_series['a'] = 5000 
seriesInfo(price_series)

series - index + values
 a    5000
b    3000
c    3500
d    2000
dtype: int64
index -  <class 'pandas.core.indexes.base.Index'> Index(['a', 'b', 'c', 'd'], dtype='object')
value -  <class 'numpy.ndarray'> [5000 3000 3500 2000]

In [83]:
# 인덱스를 이용한 데이터 갱신
price_series[0] = 6000 
seriesInfo(price_series)

series - index + values
 a    6000
b    3000
c    3500
d    2000
dtype: int64
index -  <class 'pandas.core.indexes.base.Index'> Index(['a', 'b', 'c', 'd'], dtype='object')
value -  <class 'numpy.ndarray'> [6000 3000 3500 2000]

In [84]:
price_series['e'] = 7000
seriesInfo(price_series)

series - index + values
 a    6000
b    3000
c    3500
d    2000
e    7000
dtype: int64
index -  <class 'pandas.core.indexes.base.Index'> Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
value -  <class 'numpy.ndarray'> [6000 3000 3500 2000 7000]

In [85]:
del price_series['e']
seriesInfo(price_series)

series - index + values
 a    6000
b    3000
c    3500
d    2000
dtype: int64
index -  <class 'pandas.core.indexes.base.Index'> Index(['a', 'b', 'c', 'd'], dtype='object')
value -  <class 'numpy.ndarray'> [6000 3000 3500 2000]

In [86]:
price_series['e'] = np.NaN
seriesInfo(price_series)

series - index + values
 a    6000.0
b    3000.0
c    3500.0
d    2000.0
e       NaN
dtype: float64
index -  <class 'pandas.core.indexes.base.Index'> Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
value -  <class 'numpy.ndarray'> [6000. 3000. 3500. 2000.   nan]

In [92]:
print('isnull - ')
print( pd.isnull(price_series) )
print()
print( price_series[ price_series.isnull() ] )

print()
print('notnull - ')
print( pd.notnull(price_series) )
print()
print( price_series[ price_series.notnull() ] )

isnull -
a    False
b    False
c    False
d    False
e     True
dtype: bool

e   NaN
dtype: float64

notnull -
a     True
b     True
c     True
d     True
e    False
dtype: bool

a    6000.0
b    3000.0
c    3500.0
d    2000.0
dtype: float64

## DataFrame

- pd.DataFrame()

In [115]:
def frmInfo(df) :
    display('DataFrame - ' , df)
    print('shape    - ' , df.shape )
    print('size     - ' , df.size)
    print('ndim     - ' , df.ndim)
    print('index    - ' , df.index   , type(df.index))
    print('columns  - ' , df.columns , type(df.columns))
    print('values   - \n' , df.values  , type(df.values))

In [116]:
# 딕셔너리를 이용한 생성

dict_data = {
    'col01' : [1,2,3] , 
    'col02' : [4,5,6] , 
    'col03' : [7,8,9] , 
    'col04' : [10,11,12] , 
    'col05' : [13,14,15] , 
}
temp_df = pd.DataFrame(dict_data)
frmInfo(temp_df)

'DataFrame - '

   col01  col02  col03  col04  col05
0      1      4      7     10     13
1      2      5      8     11     14
2      3      6      9     12     15

shape    -  (3, 5)
size     -  15
ndim     -  2
index    -  RangeIndex(start=0, stop=3, step=1) <class 'pandas.core.indexes.range.RangeIndex'>
columns  -  Index(['col01', 'col02', 'col03', 'col04', 'col05'], dtype='object') <class 'pandas.core.indexes.base.Index'>
values   -
 [[ 1  4  7 10 13]
 [ 2  5  8 11 14]
 [ 3  6  9 12 15]] <class 'numpy.ndarray'>

In [122]:
# 리스트를 이용한 생성
print('리스트를 이용한 생성 - ')
temp_df = pd.DataFrame([ [20 , 'M' , False ] , [30, 'F' , True] ] , 
                        index   = ['섭섭해' , '임섭순'] , 
                        columns = ['나이' , '성별' , '결혼여부'])
frmInfo(temp_df)

리스트를 이용한 생성 -

'DataFrame - '

     나이 성별   결혼여부
섭섭해  20  M  False
임섭순  30  F   True

shape    -  (2, 3)
size     -  6
ndim     -  2
index    -  Index(['섭섭해', '임섭순'], dtype='object') <class 'pandas.core.indexes.base.Index'>
columns  -  Index(['나이', '성별', '결혼여부'], dtype='object') <class 'pandas.core.indexes.base.Index'>
values   -
 [[20 'M' False]
 [30 'F' True]] <class 'numpy.ndarray'>

In [127]:
print('rename 함수를 이용한 열 이름 변경 - ')
print('원본에 반영할려면 inplace - ')

temp_df.rename(columns = {'나이' : '연세' , '성별' : '남녀' , '결혼여부' : '혼인' } , inplace = True)
temp_df.rename(index   = {'섭섭해' : '학생01' , '임섭순' : '학생02' } , inplace = True)

print()
frmInfo(temp_df)

rename 함수를 이용한 열 이름 변경 -
원본에 반영할려면 inplace -

'DataFrame - '

      연세 남녀     혼인
학생01  20  M  False
학생02  30  F   True

shape    -  (2, 3)
size     -  6
ndim     -  2
index    -  Index(['학생01', '학생02'], dtype='object') <class 'pandas.core.indexes.base.Index'>
columns  -  Index(['연세', '남녀', '혼인'], dtype='object') <class 'pandas.core.indexes.base.Index'>
values   -
 [[20 'M' False]
 [30 'F' True]] <class 'numpy.ndarray'>

In [130]:
data = {
    "2021" : [9910293, 8384050, 2938485, 1203948],
    "2018" : [8910293, 7384050, 5938485, 3203948],
    "2016" : [7910293, 5384050, 7938485, 6203948],
    "2014" : [5910293, 3384050, 4938485, 4203948],
    "지역" : ['수도권' , '경상권' , '수도권' , '경상권'],
    "증가율" : [0.2343 , 0.0434 , 0.0944 , 0.0034]
}

columns = ['지역' , '2014' , '2016' , '2018' , '2021' , '증가율']

pop_frm = pd.DataFrame(data , 
                       columns = columns , 
                       index   = ['서울' , '부산' , '경기' , '대구'])
frmInfo(pop_frm)

'DataFrame - '

     지역     2014     2016     2018     2021     증가율
서울  수도권  5910293  7910293  8910293  9910293  0.2343
부산  경상권  3384050  5384050  7384050  8384050  0.0434
경기  수도권  4938485  7938485  5938485  2938485  0.0944
대구  경상권  4203948  6203948  3203948  1203948  0.0034

shape    -  (4, 6)
size     -  24
ndim     -  2
index    -  Index(['서울', '부산', '경기', '대구'], dtype='object') <class 'pandas.core.indexes.base.Index'>
columns  -  Index(['지역', '2014', '2016', '2018', '2021', '증가율'], dtype='object') <class 'pandas.core.indexes.base.Index'>
values   -
 [['수도권' 5910293 7910293 8910293 9910293 0.2343]
 ['경상권' 3384050 5384050 7384050 8384050 0.0434]
 ['수도권' 4938485 7938485 5938485 2938485 0.0944]
 ['경상권' 4203948 6203948 3203948 1203948 0.0034]] <class 'numpy.ndarray'>

In [135]:
pop_frm.index.name = 'city'
pop_frm.columns.name = 'feature'
frmInfo(pop_frm)
print()
print('index name   - ' , pop_frm.index   , pop_frm.index.name)
print('columns name - ' , pop_frm.columns , pop_frm.columns.name)

'DataFrame - '

feature   지역     2014     2016     2018     2021     증가율
city
서울       수도권  5910293  7910293  8910293  9910293  0.2343
부산       경상권  3384050  5384050  7384050  8384050  0.0434
경기       수도권  4938485  7938485  5938485  2938485  0.0944
대구       경상권  4203948  6203948  3203948  1203948  0.0034

shape    -  (4, 6)
size     -  24
ndim     -  2
index    -  Index(['서울', '부산', '경기', '대구'], dtype='object', name='city') <class 'pandas.core.indexes.base.Index'>
columns  -  Index(['지역', '2014', '2016', '2018', '2021', '증가율'], dtype='object', name='feature') <class 'pandas.core.indexes.base.Index'>
values   -
 [['수도권' 5910293 7910293 8910293 9910293 0.2343]
 ['경상권' 3384050 5384050 7384050 8384050 0.0434]
 ['수도권' 4938485 7938485 5938485 2938485 0.0944]
 ['경상권' 4203948 6203948 3203948 1203948 0.0034]] <class 'numpy.ndarray'>

index name   -  Index(['서울', '부산', '경기', '대구'], dtype='object', name='city') city
columns name -  Index(['지역', '2014', '2016', '2018', '2021', '증가율'], dtype='object', name='feature') feature

- 열 데이터의 갱신, 추가, 삭제

In [147]:
# 새로운 피처추가
pop_frm['2014-2016증가율'] = ( (pop_frm['2016'] - pop_frm['2014'] ) / pop_frm['2014'] * 100 ).round(2)
frmInfo(pop_frm)

'DataFrame - '

feature   지역     2014     2016     2018     2021     증가율  2014-2016증가율
city
서울       수도권  5910293  7910293  8910293  9910293  0.2343         33.84
부산       경상권  3384050  5384050  7384050  8384050  0.0434         59.10
경기       수도권  4938485  7938485  5938485  2938485  0.0944         60.75
대구       경상권  4203948  6203948  3203948  1203948  0.0034         47.57

shape    -  (4, 7)
size     -  28
ndim     -  2
index    -  Index(['서울', '부산', '경기', '대구'], dtype='object', name='city') <class 'pandas.core.indexes.base.Index'>
columns  -  Index(['지역', '2014', '2016', '2018', '2021', '증가율', '2014-2016증가율'], dtype='object', name='feature') <class 'pandas.core.indexes.base.Index'>
values   -
 [['수도권' 5910293 7910293 8910293 9910293 0.2343 33.84]
 ['경상권' 3384050 5384050 7384050 8384050 0.0434 59.1]
 ['수도권' 4938485 7938485 5938485 2938485 0.0944 60.75]
 ['경상권' 4203948 6203948 3203948 1203948 0.0034 47.57]] <class 'numpy.ndarray'>

In [148]:
# 피처삭제
del pop_frm['2014-2016증가율']
frmInfo(pop_frm)

'DataFrame - '

feature   지역     2014     2016     2018     2021     증가율
city
서울       수도권  5910293  7910293  8910293  9910293  0.2343
부산       경상권  3384050  5384050  7384050  8384050  0.0434
경기       수도권  4938485  7938485  5938485  2938485  0.0944
대구       경상권  4203948  6203948  3203948  1203948  0.0034

shape    -  (4, 6)
size     -  24
ndim     -  2
index    -  Index(['서울', '부산', '경기', '대구'], dtype='object', name='city') <class 'pandas.core.indexes.base.Index'>
columns  -  Index(['지역', '2014', '2016', '2018', '2021', '증가율'], dtype='object', name='feature') <class 'pandas.core.indexes.base.Index'>
values   -
 [['수도권' 5910293 7910293 8910293 9910293 0.2343]
 ['경상권' 3384050 5384050 7384050 8384050 0.0434]
 ['수도권' 4938485 7938485 5938485 2938485 0.0944]
 ['경상권' 4203948 6203948 3203948 1203948 0.0034]] <class 'numpy.ndarray'>

In [152]:
frmInfo( pop_frm[['지역' , '증가율']] )

'DataFrame - '

feature   지역     증가율
city
서울       수도권  0.2343
부산       경상권  0.0434
경기       수도권  0.0944
대구       경상권  0.0034

shape    -  (4, 2)
size     -  8
ndim     -  2
index    -  Index(['서울', '부산', '경기', '대구'], dtype='object', name='city') <class 'pandas.core.indexes.base.Index'>
columns  -  Index(['지역', '증가율'], dtype='object', name='feature') <class 'pandas.core.indexes.base.Index'>
values   -
 [['수도권' 0.2343]
 ['경상권' 0.0434]
 ['수도권' 0.0944]
 ['경상권' 0.0034]] <class 'numpy.ndarray'>

- row indexing(항상 슬라이싱해야한다)
- 배열, 라벨 인덱싱이 가능하다

In [153]:
frmInfo( pop_frm )

'DataFrame - '

feature   지역     2014     2016     2018     2021     증가율
city
서울       수도권  5910293  7910293  8910293  9910293  0.2343
부산       경상권  3384050  5384050  7384050  8384050  0.0434
경기       수도권  4938485  7938485  5938485  2938485  0.0944
대구       경상권  4203948  6203948  3203948  1203948  0.0034

shape    -  (4, 6)
size     -  24
ndim     -  2
index    -  Index(['서울', '부산', '경기', '대구'], dtype='object', name='city') <class 'pandas.core.indexes.base.Index'>
columns  -  Index(['지역', '2014', '2016', '2018', '2021', '증가율'], dtype='object', name='feature') <class 'pandas.core.indexes.base.Index'>
values   -
 [['수도권' 5910293 7910293 8910293 9910293 0.2343]
 ['경상권' 3384050 5384050 7384050 8384050 0.0434]
 ['수도권' 4938485 7938485 5938485 2938485 0.0944]
 ['경상권' 4203948 6203948 3203948 1203948 0.0034]] <class 'numpy.ndarray'>

In [159]:
display( pop_frm[ : 1] )
display( pop_frm[ : '서울'] )

feature   지역     2014     2016     2018     2021     증가율
city
서울       수도권  5910293  7910293  8910293  9910293  0.2343

feature   지역     2014     2016     2018     2021     증가율
city
서울       수도권  5910293  7910293  8910293  9910293  0.2343

In [160]:
display( pop_frm[ 0 : 3] )
display( pop_frm[ '서울' : '경기' ] )

feature   지역     2014     2016     2018     2021     증가율
city
서울       수도권  5910293  7910293  8910293  9910293  0.2343
부산       경상권  3384050  5384050  7384050  8384050  0.0434
경기       수도권  4938485  7938485  5938485  2938485  0.0944

feature   지역     2014     2016     2018     2021     증가율
city
서울       수도권  5910293  7910293  8910293  9910293  0.2343
부산       경상권  3384050  5384050  7384050  8384050  0.0434
경기       수도권  4938485  7938485  5938485  2938485  0.0944

- 개별 인덱싱(특정행, 특정열)

In [168]:
# frmInfo( pop_frm )
pop_frm['2021'][['서울' , '대구']]

city
서울    9910293
대구    1203948
Name: 2021, dtype: int64

#### 해당 url 을 이용한 데이터프레임 생성
- https://www.kobis.or.kr/kobisopenapi/homepg/apiservice/searchServiceInfo.do?serviceId=searchDailyBoxOffice

In [196]:
import json
import urllib

movie_url     = 'http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=f5eef3421c602c6cb7ea224104795888&targetDt=20120101'
response_page = urllib.request.urlopen(movie_url)
print('page - ')
print(page)

json_page = json.loads(response_page.read())
print('json - ' , type(json_page))

print()
# print(json_page)

data = json_page['boxOfficeResult']['dailyBoxOfficeList']
# print('type - '   , type(data))
# print('data - \n' , data)
# rank, movieNm , salesAmt 담는 데이터 프레임을 만든다면?

rank_list  = []
title_list = []
sales_list = []
for tmp_dict in data : 
    rank_list.append(tmp_dict['rank'])
    title_list.append(tmp_dict['movieNm'])
    sales_list.append(tmp_dict['salesAmt'])

movie_data = {
    'rank'  : rank_list  , 
    'title' : title_list ,
    'amt'   : sales_list
}

movie_frm = pd.DataFrame(movie_data)
frmInfo(movie_frm)

# movie_frm = pd.DataFrame(data)
# frmInfo(movie_frm[['rank' , 'movieNm' , 'salesAmt']])

page -
<http.client.HTTPResponse object at 0x000002D484D13280>
json -  <class 'dict'>

'DataFrame - '

  rank                              movieNm    salesAmt
0    1                       미션임파서블:고스트프로토콜  2776060500
1    2                                마이 웨이  1189058500
2    3                        셜록홈즈 : 그림자 게임  1176022500
3    4                               퍼펙트 게임   644532000
4    5                        프렌즈: 몬스터섬의비밀    436753500
5    6                                라이온 킹   507115500
6    7                               오싹한 연애   344871000
7    8   극장판 포켓몬스터 베스트 위시「비크티니와 백의 영웅 레시라무」   167809500
8    9                            앨빈과 슈퍼밴드3   137030000
9   10  극장판 포켓몬스터 베스트 위시 「비크티니와 흑의 영웅 제크로무」   125535500

shape    -  (10, 3)
size     -  30
ndim     -  2
index    -  RangeIndex(start=0, stop=10, step=1) <class 'pandas.core.indexes.range.RangeIndex'>
columns  -  Index(['rank', 'movieNm', 'salesAmt'], dtype='object') <class 'pandas.core.indexes.base.Index'>
values   -
 [['1' '미션임파서블:고스트프로토콜' '2776060500']
 ['2' '마이 웨이' '1189058500']
 ['3' '셜록홈즈 : 그림자 게임' '1176022500']
 ['4' '퍼펙트 게임' '644532000']
 ['5' '프렌즈: 몬스터섬의비밀 ' '436753500']
 ['6' '라이온 킹' '507115500']
 ['7' '오싹한 연애' '344871000']
 ['8' '극장판 포켓몬스터 베스트 위시「비크티니와 백의 영웅 레시라무」' '167809500']
 ['9' '앨빈과 슈퍼밴드3' '137030000']
 ['10' '극장판 포켓몬스터 베스트 위시 「비크티니와 흑의 영웅 제크로무」' '125535500']] <class 'numpy.ndarray'>

#### booklist_json.json 파일로부터 데이터를 읽어서 들여서 데이터프레임을 만들어 보세요[실습]

#### 다음 조건을 만족하는 임의의 데이터프레임을 만들어 보자[실습]

- 열의 갯수와 행의 갯수가 각각 5개 이상이여야 한다.
- 열에는 정수, 문자열, 실수, 날짜 데이터가 각각 1개 이상 포함되어야 한다.